<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title th:text="${title}">
        SurkshaSetu
    </title>

    <!-- Bootstrap -->

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
            rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Google Font -->

    <link
            rel="preconnect"
            href="https://fonts.googleapis.com">

    <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet">

    <!-- CSS -->

    <link
            rel="stylesheet"
            th:href="@{/css/global.css}">

    <link
            rel="stylesheet"
            th:href="@{/css/login.css}">

</head>

</html>