<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">

    <nav class="top-navbar">

        <div class="page-title">
            Dashboard
        </div>

        <div class="nav-right">

            <button class="icon-btn">
                <i class="bi bi-bell-fill"></i>
            </button>

        <div class="admin-profile">

            <i class="bi bi-person-circle fs-3"></i>

            <span>Super Admin</span>

        </div>

        </div>

    </nav>

</div>

</html>