<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar">

    <aside class="sidebar">

        <!-- Logo -->

        <div class="sidebar-header">

            <img th:src="@{/images/logo.png}" alt="Logo">

            <h2>SurkshaSetu</h2>

        </div>

        <!-- Menu -->

        <ul class="sidebar-menu">

            <li>
                <a th:href="@{/dashboard}" class="">
                    <i class="bi bi-grid-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a th:href="@{/students}">
                    <i class="bi bi-mortarboard-fill"></i>
                    <span>Students</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-person-workspace"></i>
                    <span>Faculty</span>
                </a>
            </li><li>
                <a th:href="@{/faculty}" class="nav-link">
                    <i class="bi bi-person-badge"></i>
                    <span>Faculty</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-chat-left-text-fill"></i>
                    <span>Complaints</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    <span>SOS Alerts</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-search"></i>
                    <span>Lost & Found</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-bar-chart-fill"></i>
                    <span>Reports</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-gear-fill"></i>
                    <span>Settings</span>
                </a>
            </li>

        </ul>

        <!-- Footer -->

        <div class="sidebar-footer">

            <a th:href="@{/logout}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>

        </div>

    </aside>

</div>

</html>